{
    font-family: 'Open Sans', sans-serif;
}

}
h1 {
    margin-top: 4rem;
    text-align: center;
}
body {
    background-color: #fafafa;
}
.dropdown-group{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-top: 3rem;
}

select {
    width: 100%;
    min-width: 15ch;
    max-width 30ch;
    border: 1px solid var( --select- border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer
    line-height 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9), #fff 33%;
    box-shadow: 0px 0px 5px 0 px rgba(0, 0, 0, 0.2);

}